$bg2: #eaeaea;
.nav {
  display: flex;
  flex-direction: row;
  height: 3rem;
  background-color: #d9d9d9;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  &-title {
    width: 80%;
    // background-color: aliceblue;
  }
  &-links {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
  }
}
.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
  margin-right: 8rem;
  .featevent {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    &-feat {
      writing-mode: vertical-lr;
      text-orientation: mixed;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    background-color: $bg2;
    &-image {
      padding-right: 1rem;
      img {
        width: 300px;
      }
    }
    &-name__description {
      padding-right: 2rem;
    }
    &-info {
      &__register {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 10px;
        padding-bottom: 10px;
      }
    }
  }
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .event {
      background-color: $bg2;
      max-width: 30%;
      width: 300px;
      height: 10rem;
      text-align: center;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }
}
// this is all about modal windows
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  &__form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    label {
      margin-bottom: 5px;
      margin-top: 5px;
    }
    input {
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    button {
      margin-top: 5px;
    }
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
